.register{
    background-image: url(helpcenter.png);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    padding-top: 10px;
    /* background-image: linear-gradient(); */
    
}
.register label{
    color: crimson;
    font-weight: 600;
    font-size:large ;
}