.card {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 2rem;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
    font-size: "5px";
    text-align: center;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    /* background-clip: border-box; */
    border: 20px solid #e5f2ef;
    border-radius: .5rem;
    padding-left: 0%;
    margin-bottom: 175px;
}
.register{
    background-image: url(helpcenter.png);
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-blend-mode: lighten;}
/* .forgotp{
    background-color: bisque;
    color: black;
    height: 200px;
    width: 200px;
    border-radius: 5px;
}
h1{
    font-size: large;
    font-weight: 400;
} */